<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a routerLink="products/2"><img src="https://img.freepik.com/premium-vector/furniture-facebook-cover-page-web-banner-design-template_130382-28.jpg?w=2000"  alt="Los Angeles" class="d-block w-100"></a>
    </div>
    <div class="carousel-item">
      <a routerLink="products/4"><img src="https://c8.alamy.com/comp/PR0MCY/electronics-promotional-shopping-sale-computer-gadgets-and-touch-screen-devices-PR0MCY.jpg"   alt="Los Angeles" class="d-block w-100"></a>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button"  data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button"  data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>